
.markdown{
  display: flex;
  flex-wrap:wrap;
 
  flex-direction: row;
  width:100%;
  background-color:black;
}
.result{
  width: 45%;
  overflow-x:scroll;
  border-color: transparent;
  border-radius: 0.25rem;
  font-size: 1.2rem;
  line-height: 2;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
 
  height:100vh;
  margin: 20px;
  margin-top: 40px;
  margin-left: 50px;
  background-color:azure;

}

.division{
  width:45%;
 
  
}
.input{
  /* resize: none; */
  
}

.input {
  border-color: transparent;
  border-radius: 0.25rem;
  background-color:azure;
  font-size: 1.2rem;
  line-height: 2;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  height:100vh;
  width: 100%;
  margin: 10px;
  
}

.fields{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color:whitesmoke;
  font-weight:bold;
}
table,thead,tbody,th,td,tr{
  border: 2px solid black;
  padding: 30px;
  border-collapse: collapse;
}

.viewcontainer{
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  width: 50%;
}

.viewhead{
  display:flex;
  justify-content:space-between;
  align-items: center;
}
.threebtns{
  display:flex;
  gap:20px;
}
.create{
  margin-top: 20px;
}
.editbtn{
  margin-left: 30px;
  width: 150px;
}

@media(max-width:450px) {

  .markdown{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  
  }
  .input {
   
    background-color: orange;
    object-fit: contain;
    width: 200%;
    
  }
 
  .result{
    width:90%;
    margin: 0px auto;
    object-fit: contain;
  }
  .fields{
    margin: 20px;
  }
  .editbtn{
    width:100%;
    margin-left: 40px;
    margin: 20px;
  }
 
}

@media (min-width:451px) and (max-width:650px) {
  
  
  
  .input{
    width:200%;
    background-color:yellow;
    object-fit: contain;
  }
  .result{
    width:620px;
    margin-left: 10px;
  }
 .editbtn{
    width:100%;
    margin-left: 80px;
  }
}

@media (min-width:651px) and (max-width:1200px) {
  .input{
    width:100%;
    background-color:orchid;
   margin-left: 40px;
  }
  .result{
    width:500px;
    background-color: hsl(180, 100%, 50%);
    object-fit: contain;
   
   
  }
  .fields{
    margin-left: 40px;
  }

  .editbtn{
    width:50%;
    margin-left:40px;
  }
 
}